.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background: #fff;
}

.login {
    width: 100%;
	height: 100%;
    max-width: 330px;
    text-align: center;
}

.button-height {
    height: 50px;
}

.spinner {
    margin: 0 auto;
}